<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Quoten Analyser</title>
    <meta name="description" content="" />
    <meta name="Hendrik" content="" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="/assets/img/quotenAnalyser.png">
    <link rel="stylesheet" type="text/css" href="/assets/<%= grunt.config.get('pkg.name') %>.css" />
    <script type="text/javascript" src="/assets/libs.js"></script>
    <script type="text/javascript" src="/assets/<%= grunt.config.get('pkg.name') %>.js"></script>


</head>

<body ng-controller="AppCtrl">
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <div class="navbar-brand-name">
                        <img id="imgbrand" src="/assets/img/quotenAnalyser.png" /> KDD-Quotenanalysator
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/begegnung">Begegnungen</a>
                    </li>
                    <li><a href="#/quoten">Quoten</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div id="quotenAnalyser-logo"></div>
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" ng:view>
            </div>
        </div>
    </div>
  <!--  <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class='wrapper text-center'>
                <p class="navbar-text">© 2015 Jochen Hendrik Frömming</p>
            </div>
        </div>
    </nav> -->
</body>

</html>
