<div class="col-lg-3 col-lg-offset-9">

    <input type="text" class="form-control" placeholder="Suche" ng:model="data.search">

</div>


<div class="col-lg-12">
    <div class="panel panel-default " ng-repeat="value in begegnungData | filter:data.search| orderBy:['datum']">
        <div class="panel-heading ">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row row-border">
                        <div class="col-lg-9">
                            {{value.mannschaft_1}}
                        </div>
                        <div class="col-lg-3">
                            {{value.quoteM1}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="row row-border">
                        <div class="col-lg-9">
                            X
                        </div>
                        <div class="col-lg-3">
                            {{value.quoteX}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="row row-border">
                        <div class="col-lg-9">
                            {{value.mannschaft_2}}
                        </div>
                        <div class="col-lg-3">
                            {{value.quoteM2}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    {{value.spieltyp}}
                </div>
                <div class="col-lg-2">
                    {{cutTimestamp(value.datum)}}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <p class="text-center">{{value.quoteM1Chance}}% </p>
                </div>
                <div class="col-lg-2">
                   <p class="text-center"> {{value.quoteXChance}}% </p>
                </div>
                <div class="col-lg-3">
                   <p class="text-center"> {{value.quoteM2Chance}}% </p>
                </div>
                <div class="col-lg-2">
                    Quotenschlüssel: {{value.quotenkey}}
                </div>
                <div class="col-lg-2">

                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="togglePanel($index);buildHighcharts($index, value)">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    </button>
                </div>

            </div>



        </div>
        <div class="panel-body" ng-show="showpanel[$index] == true">
            <div class="row">
                <div class="col-lg-12 ">
                    <highchart class="h-chart" config="charConfig[$index]"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>
